.information-container {
  padding: 20px;
  .details {
    display: flex;
    .para {
      font-weight: 500;
      margin: 20px;
    }
  }
}
.search{
  margin-top: 2%;
  
.container{
   width: 100%;
   
   
}

.btn{
  width: 20%;
  background-color: #285e5b ;
}
}